/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: system-ui;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #376136;
  text-align: center;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  text-decoration: underline;
  color: #376136;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */

/*CRYPTO-PREVIEW*/
.crypto-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.crypto-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.crypto-preview h2 {
  font-size: 20px;
  color: #376136;
  margin-bottom: 8px;
}
.crypto-preview a {
  text-decoration: none;
}

/* blog details page */

/*CRYPTO DETAILS*/
.crypto-details h2 {
  font-size: 20px;
  color: #376136;
  margin-bottom: 10px;
}
.crypto-details div {
  margin: 20px 0;
}
.crypto-details button {
  background: #376136;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */

/*LOGIN*/
.auth {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.auth label {
  text-align: left;
  display: block;
}
.auth h2 {
  font-size: 24px;
  color: #376136;
  margin-bottom: 30px;
}
.auth span {
  color: #333;
}

.auth .edit_btn button{
  background: #376136;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: auto 10px;
}

.auth input,
.auth textarea,
.auth select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.auth button {
  background: #376136;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Landing page transaction and portfolio details */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

td,
th {
  border: 1px solid #007a04b4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #007a04b4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  text-align: left;
}

td.gain {
  background-color: #376136;
  color: white;
}
td.loss {
  background-color: #b74848;
  color: white;
}

span.gain {
  color: #376136;
}
span.loss {
  color: #b74848;
}

.portfolio {
  margin-top: 20px;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.portfolioHeader {
  margin-top: 10px;
  color: rgb(81, 81, 81);
  font-size: 18px;
}

.portfolioHeader span {
  font-size: 24px;
}

.deleteBtn {
  background-color: #b74848;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #9f3030;
}
